<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load custom_tags %}

{% block title %}
News
{% endblock title %}

{% block content %}
   <h1>NEWS</h1>
   <h2>Все публикации</h2>
        <form action="" method="get">
        <p>
            <label for="id_title__icontains">Заголовок:</label>
            <input type="text" name="title__icontains" id="id_title__icontains">
        </p>
        <p>
            <label for="id_post_type">Тип:</label>
            <select name="post_type" id="id_post_type">
                <option value="" selected>All</option>
                <option value="A">ARTICLE</option>
                <option value="N">NEWS</option>
            </select>
        </p>
        <p>
            <label for="id_in_time__gt">Later date:</label>
            <input type="date" name="in_time__gt" value="2023-02-07" id="id_in_time__gt">
        </p>
        <input type="submit" value="submit" />
    </form>


   <hr>
   {% if news %}
       <table>
           <tr>
               <td>Заголовок</td>
               <td>Дата публикации</td>
               <td>Текст</td>
               <td>Рейтинг</td>
           </tr>

           {% for post in news %}
           <tr>
               <td>{{ post.title|censor }}</td>
               <td>{{ post.time_in|date:'d M Y H m' }}</td>
               <td>{{ post.text|truncatechars:20|censor }}</td>
               <td>{{ post.rating }}</td>
           </tr>
           {% endfor %}
       </table>
   {% else %}
       <h2>Новостей нет!</h2>
   {% endif %}

    {# Добавляем пагинацию на страницу #}

   {# Информация о предыдущих страницах #}
   {% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}